include blocks/header
include blocks/site_header
div(class='container')
    h2 My app
    p #{foo}
    h3 #{bar}
    each val, index in goods
        img(
            src='images/product_images/' + val['image']
            class="product-image"
        )
        p #{val['name']}
        p #{val['description']}
        p #{val['cost']} грн

        include blocks/nav
include blocks/footer
include blocks/scripts_footer